/* reset */
*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Typography */
h1 {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: .17px;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}

h1 span {
    font-weight: 600;
}

h1, h1 span, h2 {
    color: #4D4F62;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.card p {
    font-size: .81rem;
    letter-spacing: .09px;
    line-height: 1.44rem;
    margin-bottom: 2.06rem;
}

/* Mobile styling */
body {
    background-color: #FAFAFA;
    color: rgba(77, 79, 98, .5);
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: .94rem;
    font-weight: 400;
    justify-content: center;
    letter-spacing: .1px;
    line-height: 1.56rem;
}

main {
    margin: 5.31rem 2.25rem;
}

header {
    margin-bottom: 4.75rem;
    text-align: center;
}
/* Styling for the card */
.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    margin-bottom: 1.56rem;
    overflow: hidden;
    padding: 1.75rem;
}

.card img {
    float: right;
}

/* Border color for top of cards */
.supervisor {
    border-top: 3.55px solid #44D3D2;
}

.team {
    border-top: 3.55px solid #EA5454;
}
.karma {
    border-top: 3.55px solid #FCAE4A;
}
.calculator {
    border-top: 3.55px solid #549EF2;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 2.25rem;
        font-weight: 200;
        letter-spacing: .25px;
        line-height: 3.38rem;
    }

    h2 {
        line-height: 1.88rem;
    }
    
    .card p {
        letter-spacing: .09px;
    }

    body {
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        margin: 1.5rem 0;
    }  
   
    main {
        margin: 0;
    }
    
    header {
        max-width: 33.75rem;
        margin: 0 auto 4rem auto;
    }
    .card-container {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.88rem;
        justify-content: center;
    }
    .card {
        max-width: 21.88rem;
    }

}